<%= form_for(@restaurant) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :timeopen %><br />
    <%= f.text_field :timeopen %>
  </div>
  <div class="field">
    <%= f.label :timeclose %><br />
    <%= f.text_field :timeclose %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>